@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        ITT Dating is a service set up to help students to meet people and find a date.
    </p>

    <p>
        You can register with us and we will help you find somebody with similar interests.
    </p>

  
</article>

<aside>
    <h3>How to join</h3>
    <p>
        Please follow the contact link to get in touch.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>